body{
background-color: rgb(207, 48, 109);

}

/* .app{
  width:65vw;
  height:100vh; 
  margin: 0 auto;
  border-radius: 5%;
  text-align: center;
  overflow: overlay;
} */

.search-container{
  margin: 0 auto;
  text-align: center;
  margin-top:5%;
}

.search-box{
  width: 20vw;
}

.search-button{
  margin-left:1%;
}

